.bb_order_wrapper{
	.order_container {
		width: 1200px;
		margin:0 auto;
		border-radius:8px;
		.tab_top{
				.el-tabs__header{margin:0;
						.el-tabs__nav-wrap{
								padding:0 20px;
								.el-tabs__item{
										// font-size:14px;
								}
						}
				}
				.el-tabs__content{
						padding:0 20px 20px;
						min-height:300px;
						.el-table::before{display:none;}
				}
		}
		.cancel_order{
			padding:3px 10px;
			background:#fff;
			color:#181825;
			font-size:14px;
			cursor: pointer;
			border-radius:4px;
		}
	}
}




.bb_order_all_wrapper{
		width:100%;
		padding:10px 0 45px 0;
		.order_container{
			position: relative;
			width: 1280px;
			margin:0 auto;
			.tab_top{
				.el-tabs__header{margin:0;
						height:60px;
						.el-tabs__nav-wrap{
								padding:0 20px;
								height:60px;
								.el-tabs__nav-scroll{
									margin-top:20px;
								}
								.el-tabs__item{
										// font-size:14px;
								}
						}
				}
				.el-tabs__content{
						padding:0 20px 20px;
						min-height:600px;
						.el-table::before{display:none;}
				}
		}
		}
		.cancel_order{
			padding:3px 10px;
			background:#fff;
			color:#181825;
			font-size:14px;
			cursor: pointer;
			border-radius:4px;
		}
		.shaixuan{
			position: absolute;
			top:15px;
			right:20px;
		}
}