
@import '../../../assets/public.less';
.mainb{
    .identitymain {
        .contain{
            .container{
                li{
                    border-bottom: 2px solid #f0f2f6;
                    .img{
                        display: none;
                    }
                    .img-b{
                        display: inline-block;
                    }
                }
                .info{
                    h2{
                        color: #1f1f2e;
                    }
                }
                .right{
                    color: #1f1f2e;
                }
            }
        }
    }
}

.identitymain {
    background: @common-color;
    border-radius: 10px;
    padding: 40px 20px;
    .top-title {
        color: @common-color3;
        font-size: 14px;
        padding: 0 0 10px 20px;
        border-bottom: 2px solid @YeDorderColor1;
    }
    .contain{
        overflow: hidden;
        margin-top: 100px;
        width: 100%;
        box-sizing: border-box;
        .container{
            width: 1120px;
            font-size: 14px;
            color: #999999;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            li{
                width: 525px;
                height: 168px;
                font-size: 16px;
                color: #999999;
                background: @common-color2;
                border-radius: 10px;
                box-sizing: border-box;
                padding: 25px;
                &:first-child {
                    margin-right: 70px;
                }
                img{
                    display: inline-block;
                    margin-top: 20px;
                    vertical-align: top;
                    max-width: 70px;
                }
                .img{
                    display: inline-block;
                }
                .img-b{
                    display: none;
                }
                .info{
                    display: inline-block;
                    line-height: 18px;
                    margin-left: 25px;
                    h2{
                        margin-top: 35px;
                        font-size: 18px;
                        color: #ffffff;
                        span{
                            color: #999999;
                            font-size: 16px;
                            margin-left: 120px;
                        }
                    }
                    p{
                        margin-top: 17px;
                    }
                    .red{
                        color: #ff3b30;
                    }
                    .green{
                        color: green;
                    }
                }
                .right{
                    display: inline-block;
                    float: right;
                    line-height: 125px;
                    font-size: 14px;
                    color: #ffffff;
                    cursor: pointer;
                }
            }
        }
        .toptitle{
            font-size: 36px;
            color: #ffffff;
            margin-top: 40px;
        }
    }
}
