/*
 
//清除浮动
 * */
.noData {
  color: #8E94A3;
  text-align: center;
  padding: 80px 0;
}
.loveMagicRoundAndRound {
  text-align: center;
  box-sizing: border-box;
  padding-top: 60px;
}
.loveMagicRoundAndRound img {
  animation: yoyo 2s linear ;
  animation-iteration-count: infinite;
}
@keyframes yoyo {
  100% {
    transform: rotate(360deg);
  }
}
.clearfix:after {
  visibility: hidden;
  content: '';
  display: block;
  clear: both;
  height: 0;
}
.clearfix {
  *zoom: 1;
}
.overLoading {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.01);
}
/**
 *     
 *  块元素居中函数
 */
.el-message-box {
  animation: hehe 0.3s ease;
}
.el-message-box .el-message-box__header {
  background: #eeeeee;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 17px 30px;
}
.el-message-box .el-message-box__header .el-message-box__title span {
  color: #222222;
  font-weight: bold;
}
.el-message-box .el-message-box__header .el-message-box__title .el-message-box__word {
  color: #222222;
}
.el-message-box .btn-group {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
}
.el-message-box .btn-group .btn-close {
  line-height: 40px;
  text-align: center;
  background: unset;
  color: #6185E5;
  border: 1px solid #6185E5;
  cursor: pointer;
}
.el-message-box .el-message-box__content {
  padding: 10px 30px;
}
.el-message-box .el-message-box__content .label {
  margin-top: 27px;
  margin-bottom: 18px;
}
.el-message-box .el-message-box__content .label.m5 {
  margin-top: 5px;
}
.el-message-box .btn_code {
  color: #30D5D8;
}
.el-message-box .el-message-box__btns button.confirm {
  background: #30D5D8;
  color: #fff;
}
.el-message-box .el-message-box__btns button.close {
  color: #30D5D8;
  border-color: #30D5D8;
  background-color: #fff;
}
@keyframes hehe {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
  }
}
.el-form-item__label {
  line-height: 1;
}
/*1280px宽度*/
.public_wrapper {
  min-width: 1280px;
  margin: 0 auto;
  max-width: 1420px;
  padding: 20px 0;
}
.sliderLimitWarp {
  padding-top: 18px;
  *zoom: 1;
}
.sliderLimitWarp p {
  font-size: 12px;
}
.sliderLimitWarp:before,
.sliderLimitWarp:after {
  display: table;
  content: "";
}
.sliderLimitWarp:after {
  clear: both;
}
.sliderLimitWarp:after {
  visibility: hidden;
  content: '';
  display: block;
  clear: both;
  height: 0;
}
.sliderLimitWarp .zhiying {
  float: left;
  width: 45%;
}
.sliderLimitWarp .zhishun {
  float: right;
  width: 45%;
  padding-right: 10px;
}
.MainArea_list:hover {
  transition: all 0.5s;
  transform: scale(1.1);
}
.mainy .el-table,
.el-table__expanded-cell {
  background: transparent;
}
.mainy .transfer {
  background: transparent;
}
.stopWarp h2 {
  margin-bottom: 10px;
}
.mainy .gg_order_wrapper .headertongji .tongji {
  background: #1a1f30;
}
.mainy .gg_order_wrapper .headertongji .tongji h2 span {
  color: #E8E9ED;
}
.mainb .exchange .exchange_mian .transaction .transaction_main {
  border-left: 10px solid #F2F3F8;
}
.mainy .exchange .exchange_mian .HistoricalEntrustment .tojingtotle span {
  color: #E8E9ED;
}
.mainy .el-message-box__title span {
  color: #F4F5EF;
}
.index_main #home {
  min-width: 1280px;
  margin: 0 auto;
  background: #171717;
}
.gg_order_wrapper {
  min-width: 1280px;
  max-width: 1360px;
  margin: 0 auto;
}
.HistoricalEntrustment .gg_order_wrapper {
  width: auto;
  max-width: none;
}
.bbMessageBox {
  width: 362px;
  background: #fff;
  border-radius: 6px;
  border: none;
}
.bbMessageBox .el-message-box__title {
  background: #eee;
}
.bbMessageBox .el-message-box__title.Night {
  background: #fff;
}
.bbMessageBox .el-message-box__title span {
  color: #ffffff;
}
.bbMessageBox span {
  color: #BBBBBB;
}
.bbMessageBox .el-button {
  color: #ffffff;
  margin-bottom: 15px;
}
.bbMessageBox .el-message-box__btns {
  display: flex;
  justify-content: space-between;
  padding: 5px 30px 0;
}
.bbMessageBox .bbMessageBox-cancel {
  width: 130px;
  height: 40px;
  border: 1px solid #30D5D8;
  border-radius: 4px;
  background: unset;
}
.bbMessageBox .bbMessageBox-cancel span {
  color: #30D5D8;
  font-size: 16px;
}
.bbMessageBox .bbMessageBox-confirm {
  width: 130px;
  height: 40px;
  background: #30D5D8;
  border-radius: 6px;
}
.bbMessageBox .bbMessageBox-confirm span {
  color: #ffffff;
  font-size: 16px;
}
.bbMessageBox.Night {
  background: #3c3c3c;
}
.bbMessageBox.Night .el-button--primary {
  border-color: #30D5D8;
}
.bbMessageBox.Night .el-message-box__header {
  background: #3c3c3c;
}
.bbMessageBox.Night .el-message-box__title {
  background: #3c3c3c;
}
.bbMessageBox.Night .el-message-box__title span {
  color: #ffffff;
}
.el-breadcrumb__item:last-child .el-breadcrumb__inner,
.el-breadcrumb__item:last-child .el-breadcrumb__inner a,
.el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover,
.el-breadcrumb__item:last-child .el-breadcrumb__inner:hover {
  color: #fff;
}
#app .el-form-item.is-error .el-input__inner {
  border-color: #30D5D8;
}
.el-form-item__error {
  color: #30D5D8;
}
.el-pagination {
  text-align: right;
}
.el-pagination.is-background .btn-next,
.el-pagination.is-background .btn-prev,
.el-pagination.is-background .el-pager li {
  background: #202D3C;
  border-radius: 4px;
  color: #fff;
  padding: 0 15px;
}
.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #30D5D8;
}
.mainb .security_main .contain .container li {
  border-bottom: 2px solid #f0f2f6;
}
.mainb .security_main .contain .container .left {
  color: #1f1f2e;
}
.mainb .security_main .contain .container .operation {
  color: #1f1f2e;
}
.mainb .security_main .contain .container .detail {
  color: initial;
}
.mainb .security_main .contain .container .result {
  color: initial;
}
.security_main .contain {
  padding: 0 20px;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  background: #182330;
}
.security_main .contain .tip {
  color: #828EA1;
  font-size: 14px;
  border-bottom: 1px solid #1F2D3D;
  line-height: 35px;
  margin-top: 20px;
}
.security_main .contain .container {
  padding: 0 50px;
  font-size: 14px;
  color: #999999;
}
.security_main .contain .container li {
  line-height: 80px;
  border-bottom: 1px solid #1F2D3D;
}
.security_main .contain .container li span {
  display: inline-block;
  vertical-align: middle;
  line-height: 80px;
}
.security_main .contain .container li .icon-img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
.security_main .contain .container li .securityLevel {
  margin-left: 30px;
}
.security_main .contain .container li .securityLevel span {
  padding: 3px 15px;
  background: #202D3C;
  border: 1px solid #383F53;
  border-radius: 15px;
  line-height: 1;
  margin-right: 5px;
}
.security_main .contain .container li .securityLevel span.active {
  border-color: #DC2020;
  color: #DC2020;
}
.security_main .contain .container li .left {
  width: 160px;
  font-size: 16px;
  color: #ffffff;
}
.security_main .contain .container li .icon {
  margin-right: 40px;
  vertical-align: middle;
  font-size: 24px;
  color: #357ce1;
}
.security_main .contain .container li .icon .right {
  display: initial;
  float: initial;
  width: initial;
}
.security_main .contain .container li .icon .error {
  display: none;
}
.security_main .contain .container li .icon.error {
  color: #ff2d55;
}
.security_main .contain .container li .icon.error .right {
  display: none;
}
.security_main .contain .container li .icon.error .error {
  display: initial;
}
.security_main .contain .container li .describe {
  color: #828EA1;
  margin-left: 52px;
  margin-right: 20px;
  width: 380px;
  line-height: 1.3;
}
.security_main .contain .container li .result {
  margin-left: 52px;
  color: #ffffff;
}
.security_main .contain .container li .detail {
  color: #521717;
  float: right;
}
.security_main .contain .container li .operation {
  font-size: 18px;
  color: #30D5D8;
  float: right;
  margin-left: 190px;
  cursor: pointer;
}
.security_main .contain .toptitle {
  font-size: 36px;
  color: #ffffff;
  margin-top: 40px;
}
.personal_settings {
  background: #182330;
  border-radius: 10px;
  padding: 20px 40px;
  margin-top: 22px;
}
.personal_settings .title {
  font-size: 20px;
  color: #fff;
}
.personal_settings .set_item {
  color: #fff;
  padding: 30px 30px 10px 30px;
}
.personal_settings .set_item .name {
  width: 160px;
}
.personal_settings .set_item .info {
  color: #828EA1;
  font-size: 14px;
  width: 700px;
  display: inline-block;
  margin-left: 170px;
}
.personal_settings .set_item .button {
  font-size: 18px;
  color: #30D5D8;
  float: right;
  margin-left: 10px;
  cursor: pointer;
  position: relative;
  top: -3px;
}
.zhesuan_form {
  position: relative;
}
.zhesuan_form /deep/ .el-form-item__content .el-input .el-input__inner {
  background: #eee;
  border: 0;
  border-radius: 4px;
}
.zhesuan_form /deep/ .el-select {
  width: 100px;
  position: absolute;
  top: 0;
  right: 0;
}
.login_record /deep/ .login_table.el-table {
  width: 100%;
  margin-top: 25px;
}
.login_record /deep/ .login_table.el-table .el-table__header {
  border: 0;
}
.login_record /deep/ .login_table.el-table th.is-leaf {
  background: #202D3C;
  color: #fff;
  border: 0;
}
.login_record /deep/ .login_table.el-table tbody .el-table__row td {
  color: #828EA1;
  border: 0;
  background: #182330;
}
.custom-dialog {
  border-radius: 6px;
}
.custom-dialog .dialog-footer .el-button--default {
  border: 0;
}
.custom-dialog .dialog-footer .el-button--primary {
  background: #30D5D8;
  border-radius: 20px;
  border: 0;
  padding: 12px 28px;
}
