/*
 
//清除浮动
 * */
.noData {
  color: #8E94A3;
  text-align: center;
  padding: 80px 0;
}
.loveMagicRoundAndRound {
  text-align: center;
  box-sizing: border-box;
  padding-top: 60px;
}
.loveMagicRoundAndRound img {
  animation: yoyo 2s linear ;
  animation-iteration-count: infinite;
}
@keyframes yoyo {
  100% {
    transform: rotate(360deg);
  }
}
.clearfix:after {
  visibility: hidden;
  content: '';
  display: block;
  clear: both;
  height: 0;
}
.clearfix {
  *zoom: 1;
}
.overLoading {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.01);
}
/**
 *     
 *  块元素居中函数
 */
.el-message-box {
  animation: hehe 0.3s ease;
}
.el-message-box .el-message-box__header {
  background: #eeeeee;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 17px 30px;
}
.el-message-box .el-message-box__header .el-message-box__title span {
  color: #222222;
  font-weight: bold;
}
.el-message-box .el-message-box__header .el-message-box__title .el-message-box__word {
  color: #222222;
}
.el-message-box .btn-group {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
}
.el-message-box .btn-group .btn-close {
  line-height: 40px;
  text-align: center;
  background: unset;
  color: #6185E5;
  border: 1px solid #6185E5;
  cursor: pointer;
}
.el-message-box .el-message-box__content {
  padding: 10px 30px;
}
.el-message-box .el-message-box__content .label {
  margin-top: 27px;
  margin-bottom: 18px;
}
.el-message-box .el-message-box__content .label.m5 {
  margin-top: 5px;
}
.el-message-box .btn_code {
  color: #30D5D8;
}
.el-message-box .el-message-box__btns button.confirm {
  background: #30D5D8;
  color: #fff;
}
.el-message-box .el-message-box__btns button.close {
  color: #30D5D8;
  border-color: #30D5D8;
  background-color: #fff;
}
@keyframes hehe {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
  }
}
.el-form-item__label {
  line-height: 1;
}
/*1280px宽度*/
.public_wrapper {
  min-width: 1280px;
  margin: 0 auto;
  max-width: 1420px;
  padding: 20px 0;
}
.sliderLimitWarp {
  padding-top: 18px;
  *zoom: 1;
}
.sliderLimitWarp p {
  font-size: 12px;
}
.sliderLimitWarp:before,
.sliderLimitWarp:after {
  display: table;
  content: "";
}
.sliderLimitWarp:after {
  clear: both;
}
.sliderLimitWarp:after {
  visibility: hidden;
  content: '';
  display: block;
  clear: both;
  height: 0;
}
.sliderLimitWarp .zhiying {
  float: left;
  width: 45%;
}
.sliderLimitWarp .zhishun {
  float: right;
  width: 45%;
  padding-right: 10px;
}
.MainArea_list:hover {
  transition: all 0.5s;
  transform: scale(1.1);
}
.mainy .el-table,
.el-table__expanded-cell {
  background: transparent;
}
.mainy .transfer {
  background: transparent;
}
.stopWarp h2 {
  margin-bottom: 10px;
}
.mainy .gg_order_wrapper .headertongji .tongji {
  background: #1a1f30;
}
.mainy .gg_order_wrapper .headertongji .tongji h2 span {
  color: #E8E9ED;
}
.mainb .exchange .exchange_mian .transaction .transaction_main {
  border-left: 10px solid #F2F3F8;
}
.mainy .exchange .exchange_mian .HistoricalEntrustment .tojingtotle span {
  color: #E8E9ED;
}
.mainy .el-message-box__title span {
  color: #F4F5EF;
}
.index_main #home {
  min-width: 1280px;
  margin: 0 auto;
  background: #171717;
}
.gg_order_wrapper {
  min-width: 1280px;
  max-width: 1360px;
  margin: 0 auto;
}
.HistoricalEntrustment .gg_order_wrapper {
  width: auto;
  max-width: none;
}
.bbMessageBox {
  width: 362px;
  background: #fff;
  border-radius: 6px;
  border: none;
}
.bbMessageBox .el-message-box__title {
  background: #eee;
}
.bbMessageBox .el-message-box__title.Night {
  background: #fff;
}
.bbMessageBox .el-message-box__title span {
  color: #ffffff;
}
.bbMessageBox span {
  color: #BBBBBB;
}
.bbMessageBox .el-button {
  color: #ffffff;
  margin-bottom: 15px;
}
.bbMessageBox .el-message-box__btns {
  display: flex;
  justify-content: space-between;
  padding: 5px 30px 0;
}
.bbMessageBox .bbMessageBox-cancel {
  width: 130px;
  height: 40px;
  border: 1px solid #30D5D8;
  border-radius: 4px;
  background: unset;
}
.bbMessageBox .bbMessageBox-cancel span {
  color: #30D5D8;
  font-size: 16px;
}
.bbMessageBox .bbMessageBox-confirm {
  width: 130px;
  height: 40px;
  background: #30D5D8;
  border-radius: 6px;
}
.bbMessageBox .bbMessageBox-confirm span {
  color: #ffffff;
  font-size: 16px;
}
.bbMessageBox.Night {
  background: #3c3c3c;
}
.bbMessageBox.Night .el-button--primary {
  border-color: #30D5D8;
}
.bbMessageBox.Night .el-message-box__header {
  background: #3c3c3c;
}
.bbMessageBox.Night .el-message-box__title {
  background: #3c3c3c;
}
.bbMessageBox.Night .el-message-box__title span {
  color: #ffffff;
}
.el-breadcrumb__item:last-child .el-breadcrumb__inner,
.el-breadcrumb__item:last-child .el-breadcrumb__inner a,
.el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover,
.el-breadcrumb__item:last-child .el-breadcrumb__inner:hover {
  color: #fff;
}
#app .el-form-item .el-input__inner {
  border: 0;
  background: #202D3C;
}
#app .el-form-item.is-error .el-input__inner {
  border: 1px solid #30D5D8;
}
#app .custom-dialog .el-form-item .el-input__inner {
  background: #EFEFF4;
}
.el-form-item__error {
  color: #30D5D8;
}
.el-pagination {
  text-align: right;
}
.el-pagination.is-background .btn-next,
.el-pagination.is-background .btn-prev,
.el-pagination.is-background .el-pager li {
  background: #202D3C;
  border-radius: 4px;
  color: #fff;
  padding: 0 15px;
}
.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #30D5D8;
}
.cbCodeDiv {
  width: 200px;
  height: 200px;
  margin: 20px auto;
}
.cbCodeDiv img {
  width: 100%;
  height: 100%;
}
.chong_bit_wrapper {
  padding: 20px 0 50px 0;
  background: #0A1017;
}
.chong_bit_wrapper .chong_bit_container {
  width: 1200px;
  margin: 0 auto;
}
.chong_bit_wrapper .chong_bit_container h4 {
  line-height: 60px;
  padding: 0 20px;
  font-size: 16px;
  border-radius: 6px;
  background: #182330;
}
.chong_bit_wrapper .chong_bit_container .chong_bit_body {
  padding: 20px 20px 60px 20px;
  margin-top: 10px;
  border-radius: 6px;
  background: #182330;
}
.chong_bit_wrapper .chong_bit_container .chong_bit_body .body_code {
  display: flex;
}
.chong_bit_wrapper .chong_bit_container .chong_bit_body .body_code p {
  width: 100px;
  font-size: 16px;
}
.chong_bit_wrapper .chong_bit_container .chong_bit_body .body_code img {
  width: 100px;
  height: 100px;
}
.chong_bit_wrapper .chong_bit_container .chong_bit_body .address p {
  font-size: 16px;
  line-height: 60px;
}
.chong_bit_wrapper .chong_bit_container .chong_bit_body .address .left {
  font-size: 16px;
  width: 70%;
  border: none;
  margin: 0;
  padding: 0 16px;
  height: 50px;
  color: #fff;
  background: #202D3C;
}
.chong_bit_wrapper .chong_bit_container .chong_bit_body .address .right {
  display: inline-block;
}
.chong_bit_wrapper .chong_bit_container .chong_bit_body .address .right span {
  margin-left: 30px;
  font-size: 18px;
  color: #30D5D8;
  cursor: pointer;
}
.chong_bit_wrapper .chong_bit_container .chong_bit_body .seeRecord {
  line-height: 60px;
  font-size: 16px;
  color: #828EA1;
  margin-bottom: 20px;
}
.chong_bit_wrapper .chong_bit_container .chong_bit_body .Tips .public_font {
  line-height: 35px;
  font-size: 16px;
}
.chong_bit_wrapper .chong_bit_container .chong_bit_body .Tips .list {
  margin-top: 10px;
}
.chong_bit_wrapper .chong_bit_container .chong_bit_body .Tips .list li {
  line-height: 25px;
  font-size: 15px;
}
.chong_bit_wrapper .chong_bit_container .el-dropdown-link {
  cursor: pointer;
  color: #fff;
  font-size: 16px;
}
.chong_bit_wrapper .chong_bit_container .chong_top .title_link {
  display: inline-block;
  float: right;
  line-height: 30px;
}
.chong_bit_wrapper .chong_bit_container .chong_top .title_link a:first-child {
  margin-right: 20px;
}
.chong_bit_wrapper .chong_bit_container .chong_top .el-table td,
.chong_bit_wrapper .chong_bit_container .chong_top .el-table th.is-leaf {
  border-bottom: none;
}
.chong_bit_wrapper .chong_bit_container .chong_top #addInput {
  width: 80%;
  border: none;
  outline: none;
  font-size: 16px;
  padding-left: 10px;
  border-radius: 4px;
}
.chong_bit_wrapper .chong_bit_container .chong_top .chong_bit_block {
  margin-top: 30px;
}
.chong_bit_wrapper .chong_bit_container .chong_top .chong_bit_block .public_font {
  font-size: 16px;
}
.chong_bit_wrapper .chong_bit_container .chong_top .chong_bit_block .seeRecord {
  margin-top: 30px;
  margin-bottom: 60px;
}
.chong_bit_wrapper .chong_bit_container .chong_top .chong_bit_block .address {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.chong_bit_wrapper .chong_bit_container .chong_top .chong_bit_block .address .left {
  font-size: 20px;
}
.chong_bit_wrapper .chong_bit_container .chong_top .chong_bit_block .address .right {
  display: inline-block;
}
.chong_bit_wrapper .chong_bit_container .chong_top .chong_bit_block .address .right span {
  margin-left: 30px;
  font-size: 18px;
  color: #30D5D8;
  cursor: pointer;
}
.chong_bit_wrapper .chong_bit_container .chong_top .chong_bit_block .list {
  list-style: disc;
  margin-top: 10px;
}
.chong_bit_wrapper .chong_bit_container .chong_top .chong_bit_block .list li {
  padding: 5px 0;
  font-size: 14px;
  list-style-type: none;
}
.chong_bit_wrapper .chong_bit_container .el-card {
  background: transparent;
}
.chong_bit_wrapper .chong_bit_container .el-card .el-card__body {
  padding: 0px;
}
.chong_bit_wrapper .chong_bit_container .el-card .el-card__body .chong_toggle {
  display: inline-block;
}
.chong_bit_wrapper .chong_bit_container .el-card .el-card__body .chong_toggle:nth-child(2) {
  margin-left: 30px;
}
.chong_bit_wrapper .chong_bit_container .el-card .el-card__body .chong_toggle.on {
  color: #fff;
}
.chong_bit_wrapper .chong_bit_container .el-card.box-card.is-always-shadow {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  color: #fff;
}
.chong_bit_wrapper .chong_bit_container .box-card-title {
  height: 60px;
  background-color: #2B2B2B;
  line-height: 60px;
  padding-left: 20px;
}
.chong_bit_wrapper .chong_bit_container .right_title {
  color: #666666;
}
