//  财务记录
.money_record_wrapper {
    padding:70px 0 60px 0;
    .money_record_container {
        width: 1200px;
        margin:0 auto;
        border-radius:8px;
        h5{
            line-height:70px;
            font-size:24px;
            font-weight:bold;
            padding:0 20px;
        }
        .tab_top{
            .el-tabs__header{margin:0;
                .el-tabs__nav-wrap{
                    padding:0 20px;
                    .el-tabs__item{
                        // font-size:14px;
                    }
                }
            }
            .el-tabs__content{
                padding:0 20px 20px;
                min-height:300px;
                .el-table::before{display:none;}
            }
        }
    }
    .fenye{
        text-align:center;
        margin-top:50px;
    }
}