.ti_bit_wrapper{
    width:100%;
    padding:20px 0 45px 0;
    .ti_bit_container{
        width:1200px;
        margin:0 auto;
        h4{line-height:60px;padding:0 20px;border-radius:6px;font-size: 16px;}
        .ti_bit_body{
            padding:30px 120px 80px;
            margin-top:10px;
            border-radius:6px;
            .formData{
                .across{
                    display:flex;
                    margin-bottom:15px;
                    justify-content:space-between;
                    p{color:#999;}
                    .el-form-item__label{font-size:14px;}
                    .el-form-item{
                        width:49%;
                        margin:0;
                        .el-select{
                            width:100%;
                            margin-top:50px;
                        }
                    }
                    p{height:40px;width:49%;margin-top:40px;font-size:14px;line-height:40px;}
                    .yanzhengma{
                        width:100%;
                        .el-form-item__content{
                            // display:flex;
                            .codeInput{float: left;width:49%;}
                            .btn_code{float: left;margin:50px 0 0 20px;width: 100px;
                                .el-input__inner{cursor: pointer;}
                                }
                        }
                    }
                }
                
            }
            .body_btn{
                margin:110px auto 15px;
                text-align:center;
                .el-button{
                    border:none;
                    width:460px;
                }
            }
            .body_info{
                p{line-height:30px;font-size:16px;}
                li{
                    line-height:20px;
                    font-size:14px;
                    color:#999;
                }
            }
        }
    }
}