/*
 
//清除浮动
 * */
.noData {
  color: #8E94A3;
  text-align: center;
  padding: 80px 0;
}
.loveMagicRoundAndRound {
  text-align: center;
  box-sizing: border-box;
  padding-top: 60px;
}
.loveMagicRoundAndRound img {
  animation: yoyo 2s linear ;
  animation-iteration-count: infinite;
}
@keyframes yoyo {
  100% {
    transform: rotate(360deg);
  }
}
.clearfix:after {
  visibility: hidden;
  content: '';
  display: block;
  clear: both;
  height: 0;
}
.clearfix {
  *zoom: 1;
}
.overLoading {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.01);
}
/**
 *     
 *  块元素居中函数
 */
.el-message-box {
  animation: hehe 0.3s ease;
}
.el-message-box .el-message-box__header {
  background: #eeeeee;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 17px 30px;
}
.el-message-box .el-message-box__header .el-message-box__title span {
  color: #222222;
  font-weight: bold;
}
.el-message-box .el-message-box__header .el-message-box__title .el-message-box__word {
  color: #222222;
}
.el-message-box .btn-group {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
}
.el-message-box .btn-group .btn-close {
  line-height: 40px;
  text-align: center;
  background: unset;
  color: #6185E5;
  border: 1px solid #6185E5;
  cursor: pointer;
}
.el-message-box .el-message-box__content {
  padding: 10px 30px;
}
.el-message-box .el-message-box__content .label {
  margin-top: 27px;
  margin-bottom: 18px;
}
.el-message-box .el-message-box__content .label.m5 {
  margin-top: 5px;
}
.el-message-box .btn_code {
  color: #30D5D8;
}
.el-message-box .el-message-box__btns button.confirm {
  background: #30D5D8;
  color: #fff;
}
.el-message-box .el-message-box__btns button.close {
  color: #30D5D8;
  border-color: #30D5D8;
  background-color: #fff;
}
@keyframes hehe {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
  }
}
.el-form-item__label {
  line-height: 1;
}
/*1280px宽度*/
.public_wrapper {
  min-width: 1280px;
  margin: 0 auto;
  max-width: 1420px;
  padding: 20px 0;
}
.sliderLimitWarp {
  padding-top: 18px;
  *zoom: 1;
}
.sliderLimitWarp p {
  font-size: 12px;
}
.sliderLimitWarp:before,
.sliderLimitWarp:after {
  display: table;
  content: "";
}
.sliderLimitWarp:after {
  clear: both;
}
.sliderLimitWarp:after {
  visibility: hidden;
  content: '';
  display: block;
  clear: both;
  height: 0;
}
.sliderLimitWarp .zhiying {
  float: left;
  width: 45%;
}
.sliderLimitWarp .zhishun {
  float: right;
  width: 45%;
  padding-right: 10px;
}
.MainArea_list:hover {
  transition: all 0.5s;
  transform: scale(1.1);
}
.mainy .el-table,
.el-table__expanded-cell {
  background: transparent;
}
.mainy .transfer {
  background: transparent;
}
.stopWarp h2 {
  margin-bottom: 10px;
}
.mainy .gg_order_wrapper .headertongji .tongji {
  background: #1a1f30;
}
.mainy .gg_order_wrapper .headertongji .tongji h2 span {
  color: #E8E9ED;
}
.mainb .exchange .exchange_mian .transaction .transaction_main {
  border-left: 10px solid #F2F3F8;
}
.mainy .exchange .exchange_mian .HistoricalEntrustment .tojingtotle span {
  color: #E8E9ED;
}
.mainy .el-message-box__title span {
  color: #F4F5EF;
}
.index_main #home {
  min-width: 1280px;
  margin: 0 auto;
  background: #171717;
}
.gg_order_wrapper {
  min-width: 1280px;
  max-width: 1360px;
  margin: 0 auto;
}
.HistoricalEntrustment .gg_order_wrapper {
  width: auto;
  max-width: none;
}
.bbMessageBox {
  width: 362px;
  background: #fff;
  border-radius: 6px;
  border: none;
}
.bbMessageBox .el-message-box__title {
  background: #eee;
}
.bbMessageBox .el-message-box__title.Night {
  background: #fff;
}
.bbMessageBox .el-message-box__title span {
  color: #ffffff;
}
.bbMessageBox span {
  color: #BBBBBB;
}
.bbMessageBox .el-button {
  color: #ffffff;
  margin-bottom: 15px;
}
.bbMessageBox .el-message-box__btns {
  display: flex;
  justify-content: space-between;
  padding: 5px 30px 0;
}
.bbMessageBox .bbMessageBox-cancel {
  width: 130px;
  height: 40px;
  border: 1px solid #30D5D8;
  border-radius: 4px;
  background: unset;
}
.bbMessageBox .bbMessageBox-cancel span {
  color: #30D5D8;
  font-size: 16px;
}
.bbMessageBox .bbMessageBox-confirm {
  width: 130px;
  height: 40px;
  background: #30D5D8;
  border-radius: 6px;
}
.bbMessageBox .bbMessageBox-confirm span {
  color: #ffffff;
  font-size: 16px;
}
.bbMessageBox.Night {
  background: #3c3c3c;
}
.bbMessageBox.Night .el-button--primary {
  border-color: #30D5D8;
}
.bbMessageBox.Night .el-message-box__header {
  background: #3c3c3c;
}
.bbMessageBox.Night .el-message-box__title {
  background: #3c3c3c;
}
.bbMessageBox.Night .el-message-box__title span {
  color: #ffffff;
}
.el-breadcrumb__item:last-child .el-breadcrumb__inner,
.el-breadcrumb__item:last-child .el-breadcrumb__inner a,
.el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover,
.el-breadcrumb__item:last-child .el-breadcrumb__inner:hover {
  color: #fff;
}
#app .el-form-item .el-input__inner {
  border: 0;
  background: #202D3C;
  color: #fff;
}
#app .el-form-item.is-error .el-input__inner {
  border: 1px solid #30D5D8;
  color: #fff;
}
#app .custom-dialog .el-form-item .el-input__inner {
  background: #EFEFF4;
  color: #606266;
}
#app .custom-dialog .el-form-item .btn_code .el-input__inner {
  color: #30D5D8;
}
.el-form-item__error {
  color: #30D5D8;
}
.el-pagination {
  text-align: center;
}
.el-pagination.is-background .btn-next,
.el-pagination.is-background .btn-prev,
.el-pagination.is-background .el-pager li {
  background: #202D3C;
  border-radius: 4px;
  color: #fff;
  padding: 0 15px;
}
.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #30D5D8;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a,
img {
  color: inherit;
  border: none;
  text-decoration: none;
}
a {
  width: 100%;
  height: 100%;
}
* {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
}
.exchange {
  min-width: 1280px;
  padding: 10px 0;
}
.exchange .exchange_cen {
  display: flex;
  margin-bottom: 10px;
}
.exchange .down {
  color: #ff5855;
}
.exchange .up {
  color: #00bd82;
}
.exchange .exchange_nav {
  width: 290px;
  margin-right: 10px;
  box-sizing: border-box;
  overflow: hidden;
  flex-grow: 0;
  flex-shrink: 0;
}
.exchange .exchange_nav .topWarp {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  *zoom: 1;
}
.exchange .exchange_nav .topWarp .topWarp_userInfo {
  box-sizing: border-box;
  width: 100%;
  height: 92px;
  background: url("../../assets/image/bibi/jyzh-img.png") no-repeat;
  background-size: 100% 100%;
  margin-bottom: 10px;
  padding: 12px 30px;
  color: #ffffff;
}
.exchange .exchange_nav .topWarp .topWarp_userInfo .title {
  color: #BBBBBB;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}
.exchange .exchange_nav .topWarp .topWarp_userInfo .title i {
  width: 18px;
  height: 12px;
  display: inline-block;
  margin-top: 3px;
  background: url("../../assets/image/bibi/show.png") repeat;
  cursor: pointer;
}
.exchange .exchange_nav .topWarp .topWarp_userInfo .title i.hide {
  background: url("../../assets/image/bibi/hide.png") no-repeat;
}
.exchange .exchange_nav .topWarp .topWarp_userInfo .nums {
  margin: 17px 0 8px 0;
  font-size: 20px;
}
.exchange .exchange_nav .topWarp .topWarp_userInfo .type {
  font-size: 14px;
}
.exchange .exchange_nav .topWarp:before,
.exchange .exchange_nav .topWarp:after {
  display: table;
  content: "";
}
.exchange .exchange_nav .topWarp:after {
  clear: both;
}
.exchange .exchange_nav .topWarp:after {
  visibility: hidden;
  content: '';
  display: block;
  clear: both;
  height: 0;
}
.exchange .exchange_nav .topWarp .nav_list {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: #182330;
}
.exchange .exchange_nav .topWarp .nav_list .nav_list_title {
  background: #202D3C;
  color: #30D5D8;
  font-size: 18px;
  padding: 10px 0;
}
.exchange .exchange_nav .topWarp .nav_list .nav_list_title span {
  padding-left: 20px;
  border-left: 3px solid #30D5D8;
}
.exchange .exchange_nav .topWarp .nav_list .currency_header {
  display: flex;
  justify-content: space-between;
  line-height: 42px;
  padding: 0 14px;
}
.exchange .exchange_nav .topWarp .nav_list .currency_header > span {
  width: 33%;
  box-sizing: border-box;
  color: #828EA1;
}
.exchange .exchange_nav .topWarp .nav_list .currency_header > span.actives {
  color: #30D5D8;
}
.exchange .exchange_nav .topWarp .nav_list .currency_header .header_1 {
  text-align: left;
}
.exchange .exchange_nav .topWarp .nav_list .currency_header .header_2 {
  text-align: center;
}
.exchange .exchange_nav .topWarp .nav_list .currency_header .header_3 {
  text-align: right;
}
.exchange .exchange_nav .topWarp .nav_list .currency_header p {
  margin-left: 30px;
  text-align: center;
  width: 85px;
}
.exchange .exchange_nav .topWarp .nav_list .currency_surface_header .currency_surface_list {
  display: inline-block;
  width: 32%;
  text-align: center;
  line-height: 35px;
  font-size: 14px;
}
.exchange .exchange_nav .topWarp .nav_list .MainArea_box {
  padding-bottom: 9px;
}
.exchange .exchange_nav .topWarp .nav_list .MainArea_box .MainArea_main .MainArea_list,
.exchange .exchange_nav .topWarp .nav_list .MainArea_box .Innovate_main .MainArea_list,
.exchange .exchange_nav .topWarp .nav_list .MainArea_box .MainArea_main .Innovate_list,
.exchange .exchange_nav .topWarp .nav_list .MainArea_box .Innovate_main .Innovate_list {
  cursor: pointer;
  font-size: 13px;
}
.exchange .exchange_nav .topWarp .nav_list .MainArea_box .MainArea_main .MainArea_list p,
.exchange .exchange_nav .topWarp .nav_list .MainArea_box .Innovate_main .MainArea_list p,
.exchange .exchange_nav .topWarp .nav_list .MainArea_box .MainArea_main .Innovate_list p,
.exchange .exchange_nav .topWarp .nav_list .MainArea_box .Innovate_main .Innovate_list p {
  display: inline-block;
  width: 32%;
  text-align: center;
  line-height: 35px;
  font-size: 12px;
}
.exchange .exchange_nav .topWarp .nav_list .MainArea_box .MainArea_main .MainArea_list,
.exchange .exchange_nav .topWarp .nav_list .MainArea_box .Innovate_main .MainArea_list {
  border-bottom: none;
  display: flex;
  align-items: center;
  padding: 15px 14px 15px 14px;
  justify-content: space-between;
  color: #fff;
  height: 55px;
  box-sizing: border-box;
}
.exchange .exchange_nav .topWarp .nav_list .MainArea_box .MainArea_main .MainArea_list:hover,
.exchange .exchange_nav .topWarp .nav_list .MainArea_box .Innovate_main .MainArea_list:hover {
  transform: none;
  background: #202D3C;
}
.exchange .exchange_nav .topWarp .nav_list .MainArea_box .MainArea_main .MainArea_list .MainArea_one,
.exchange .exchange_nav .topWarp .nav_list .MainArea_box .Innovate_main .MainArea_list .MainArea_one {
  display: flex;
  align-items: center;
  width: 33%;
  font-size: 16px;
}
.exchange .exchange_nav .topWarp .nav_list .MainArea_box .MainArea_main .MainArea_list .MainArea_two,
.exchange .exchange_nav .topWarp .nav_list .MainArea_box .Innovate_main .MainArea_list .MainArea_two {
  width: 33%;
  text-align: center;
  font-size: 14px;
}
.exchange .exchange_nav .topWarp .nav_list .MainArea_box .MainArea_main .MainArea_list .MainArea_three,
.exchange .exchange_nav .topWarp .nav_list .MainArea_box .Innovate_main .MainArea_list .MainArea_three {
  width: 33%;
  text-align: right;
  font-size: 14px;
}
.exchange .exchange_nav .topWarp .nav_list .MainArea_box .MainArea_main .MainArea_list .mid,
.exchange .exchange_nav .topWarp .nav_list .MainArea_box .Innovate_main .MainArea_list .mid,
.exchange .exchange_nav .topWarp .nav_list .MainArea_box .MainArea_main .MainArea_list .right,
.exchange .exchange_nav .topWarp .nav_list .MainArea_box .Innovate_main .MainArea_list .right {
  display: flex;
  flex-direction: column;
}
.exchange .exchange_nav .topWarp .nav_list .MainArea_box .MainArea_main .MainArea_list .mid span,
.exchange .exchange_nav .topWarp .nav_list .MainArea_box .Innovate_main .MainArea_list .mid span,
.exchange .exchange_nav .topWarp .nav_list .MainArea_box .MainArea_main .MainArea_list .right span,
.exchange .exchange_nav .topWarp .nav_list .MainArea_box .Innovate_main .MainArea_list .right span {
  color: #ffffff;
  word-break: break-all;
  font-size: 14px;
}
.exchange .exchange_nav .topWarp .nav_list .MainArea_box .MainArea_main .MainArea_list .mid,
.exchange .exchange_nav .topWarp .nav_list .MainArea_box .Innovate_main .MainArea_list .mid {
  flex-shrink: 0;
}
.exchange .exchange_nav .topWarp .nav_list .MainArea_box .MainArea_main .MainArea_list .mid .name,
.exchange .exchange_nav .topWarp .nav_list .MainArea_box .Innovate_main .MainArea_list .mid .name {
  font-size: 16px;
  margin-bottom: 7px;
}
.exchange .exchange_nav .topWarp .nav_list .MainArea_box .MainArea_main .MainArea_list .mid .toCny,
.exchange .exchange_nav .topWarp .nav_list .MainArea_box .Innovate_main .MainArea_list .mid .toCny {
  color: #999999;
}
.exchange .exchange_nav .topWarp .nav_list .MainArea_box .MainArea_main .MainArea_list .right,
.exchange .exchange_nav .topWarp .nav_list .MainArea_box .Innovate_main .MainArea_list .right {
  flex-grow: 1;
  text-align: right;
}
.exchange .exchange_nav .topWarp .nav_list .MainArea_box .MainArea_main .MainArea_list .right .nums,
.exchange .exchange_nav .topWarp .nav_list .MainArea_box .Innovate_main .MainArea_list .right .nums {
  font-size: 16px;
  margin-bottom: 7px;
}
.exchange .exchange_nav .topWarp .nav_list .MainArea_box .MainArea_main {
  overflow-y: hidden;
  overflow-x: hidden;
}
.exchange .exchange_nav .topWarp .nav_list .MainArea_box .MainArea_main::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 4px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 4px;
}
.exchange .exchange_nav .topWarp .nav_list .MainArea_box .MainArea_main::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #2ec6d1;
}
.exchange .exchange_nav .topWarp .nav_list .MainArea_box .MainArea_main::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: rgba(0, 0, 0, 0.1);
}
.exchange .exchange_nav .topWarp .nav_list .MainArea_box .down {
  color: #ff5855 !important;
}
.exchange .exchange_nav .topWarp .nav_list .MainArea_box .up {
  color: #00bd82 !important;
}
.exchange .exchange_nav .topWarp .nav_list .MainArea_box .oh {
  color: #ffffff;
}
.exchange .exchange_nav .topWarp .tradingNotice {
  box-sizing: border-box;
  width: 350px;
  margin-top: 10px;
}
.exchange .exchange_nav .topWarp .tradingNotice h2 {
  height: 50px;
  line-height: 50px;
  font-weight: 700;
  padding: 0 0 0 15px;
  background: #eeeeee;
}
.exchange .exchange_nav .topWarp .tradingNotice .announcementList {
  background: #fff;
}
.exchange .exchange_nav .topWarp .tradingNotice .announcementList .list {
  height: 67px;
  padding: 23px 15px 0 15px;
  border-bottom: 1px solid #e6e6e6;
  cursor: pointer;
}
.exchange .exchange_nav .topWarp .tradingNotice .announcementList .list .title {
  height: 26px;
  line-height: 26px;
  color: #606266;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  margin-bottom: 12px;
}
.exchange .exchange_nav .topWarp .tradingNotice .announcementList .list .time {
  color: #909399;
  font-size: 12px;
  float: right;
}
.exchange .klinAndTring {
  *zoom: 1;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: hidden;
}
.exchange .klinAndTring:before,
.exchange .klinAndTring:after {
  display: table;
  content: "";
}
.exchange .klinAndTring:after {
  clear: both;
}
.exchange .klinAndTring:after {
  visibility: hidden;
  content: '';
  display: block;
  clear: both;
  height: 0;
}
.exchange .klinAndTring #pane-first,
.exchange .klinAndTring #pane-second {
  overflow: initial !important;
  height: 100%;
}
.exchange .klinAndTring .coindetail {
  overflow: hidden;
  margin-top: 15px;
  margin-right: 20px;
  margin-bottom: 22px;
  color: #ffffff;
  font-size: 14px;
}
.exchange .klinAndTring .coindetail .coin_left h3 {
  background: #2B2B2B;
  height: 40px;
  color: #ffffff;
  line-height: 40px;
  padding-left: 24px;
  font-size: 16px;
}
.exchange .klinAndTring .coindetail .coin_left .details {
  padding: 0 20px 50px 20px;
  display: flex;
  background: #4c4c4c;
}
.exchange .klinAndTring .coindetail .coin_left .details .details_left {
  flex: 5;
}
.exchange .klinAndTring .coindetail .coin_left .details .details_left .title .name {
  margin: 38px 0 18px 0;
  font-size: 24px;
}
.exchange .klinAndTring .coindetail .coin_left .details .details_left .river {
  margin-top: 20px;
  width: 100%;
  height: 1px;
  background: #30374a;
}
.exchange .klinAndTring .coindetail .coin_left .details .details_left .content h4 {
  margin: 22px 0;
}
.exchange .klinAndTring .coindetail .coin_left .details .details_left .content p {
  padding-right: 40px;
  line-height: 1.5em;
}
.exchange .klinAndTring .coindetail .coin_left .details .details_right {
  flex: 3;
  padding-left: 80px;
}
.exchange .klinAndTring .coindetail .coin_left .details .details_right .item {
  display: flex;
  justify-content: space-between;
}
.exchange .klinAndTring .coindetail .coin_left .details .details_right .item span {
  word-break: break-all;
  margin-top: 24px;
}
.exchange .klinAndTring .coindetail .coin_left .details .details_right .item span:nth-of-type(1) {
  color: #999999;
}
.exchange .klinAndTring .exchange_mian_box {
  flex-grow: 1;
  position: relative;
}
.exchange .klinAndTring .exchange_mian_box .radiogroups {
  z-index: 999;
  position: absolute;
  right: 15px;
  top: 66px;
  display: flex;
}
.exchange .klinAndTring .exchange_mian_box .radiogroups .is-active .el-radio-button__inner {
  background: #30D5D8;
  color: #ffffff;
  border-color: #30D5D8;
}
.exchange .klinAndTring .exchange_mian_box .radiogroups .el-radio-button__inner {
  width: 74px;
  height: 28px;
  background: unset;
  line-height: 28px;
  text-align: center;
  padding: 0;
  color: #828EA1;
  font-size: 14px;
  background: #181b2a;
  border: 1px solid #828EA1;
  border-radius: 0;
  margin-left: 10px;
}
.exchange .klinAndTring .HistoricalEntrustment {
  height: 100%;
  position: relative;
}
.exchange .klinAndTring .HistoricalEntrustment .bb_order_wrapper {
  overflow-x: auto;
  height: 100%;
}
.exchange .klinAndTring .HistoricalEntrustment .bb_order_wrapper .order_container .content {
  height: 100%;
}
.exchange .klinAndTring .HistoricalEntrustment .bb_order_wrapper .order_container .content .el-card__body {
  height: 100%;
}
.exchange .klinAndTring .HistoricalEntrustment .bb_order_wrapper .order_container .content .el-card__body .el-tabs {
  height: 100%;
}
.exchange .klinAndTring .HistoricalEntrustment .bb_order_wrapper .order_container .content .el-card__body .el-tabs .el-tabs__content,
.exchange .klinAndTring .HistoricalEntrustment .bb_order_wrapper .order_container .content .el-card__body .el-tabs .el-table {
  height: 100%;
}
.exchange .klinAndTring .HistoricalEntrustment .bb_order_wrapper .order_container .content .el-card__body .el-tabs .el-tabs__content .el-tab-pane.nowDeal,
.exchange .klinAndTring .HistoricalEntrustment .bb_order_wrapper .order_container .content .el-card__body .el-tabs .el-table .el-tab-pane.nowDeal {
  height: 100%;
}
.exchange .klinAndTring .HistoricalEntrustment .tojingtotle {
  position: absolute;
  right: 180px;
  top: 52px;
  color: #606266;
  z-index: 99999;
  font-size: 14px;
}
.exchange .klinAndTring .HistoricalEntrustment .tojingtotle span {
  padding-right: 20px;
}
.exchange .klinAndTring .exchange_mian {
  flex-shrink: 0;
  display: flex;
  overflow: hidden;
  position: relative;
}
.exchange .klinAndTring .exchange_mian .change_tab .top_nav {
  width: 290px;
  height: 40px;
  line-height: 40px;
  background: #182330;
  color: #828EA1;
  font-size: 14px;
  margin-left: 10px;
}
.exchange .klinAndTring .exchange_mian .change_tab .top_nav span {
  padding: 0 10px;
  cursor: pointer;
  display: inline-block;
}
.exchange .klinAndTring .exchange_mian .change_tab .top_nav span.active {
  color: #30D5D8;
  background: #202D3C;
}
.exchange .klinAndTring .exchange_mian .vloumeData {
  margin-left: 10px;
  width: 290px;
  height: 992px;
  display: flex;
  flex-direction: column;
  background: #182330;
}
.exchange .klinAndTring .exchange_mian .vloumeData .head {
  height: 40px;
  line-height: 40px;
}
.exchange .klinAndTring .exchange_mian .vloumeData .head h2 {
  height: 40px;
  line-height: 40px;
  padding-left: 12px;
  font-size: 14px;
}
.exchange .klinAndTring .exchange_mian .vloumeData .title {
  background: #202D3C;
  border-bottom: none;
  font-size: 12px;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  display: flex;
  color: #828EA1;
}
.exchange .klinAndTring .exchange_mian .vloumeData .title span {
  flex: 1;
  text-align: left;
}
.exchange .klinAndTring .exchange_mian .vloumeData .title span.dt {
  text-align: right;
}
.exchange .klinAndTring .exchange_mian .vloumeData .title span.num {
  text-align: center;
}
.exchange .klinAndTring .exchange_mian .vloumeData ul {
  overflow-y: hidden;
  background: #182330;
  flex: 1;
}
.exchange .klinAndTring .exchange_mian .vloumeData ul li {
  padding: 0 10px;
  font-size: 14px;
  color: #ffffff;
  height: 28px;
  line-height: 28px;
  display: flex;
}
.exchange .klinAndTring .exchange_mian .vloumeData ul li span.false {
  color: #00bd82;
}
.exchange .klinAndTring .exchange_mian .vloumeData ul li span.true {
  color: #ff5855;
}
.exchange .klinAndTring .exchange_mian .vloumeData ul li span {
  flex-basis: 33.3%;
  float: left;
  overflow: hidden;
}
.exchange .klinAndTring .exchange_mian .vloumeData ul li span:nth-child(2) {
  text-align: center;
}
.exchange .klinAndTring .exchange_mian .vloumeData ul li span:last-child {
  text-align: right;
}
.exchange .klinAndTring .exchange_mian .exchange_box {
  background: #182330;
}
.exchange .klinAndTring .exchange_mian .exchange_box .Placeanorder_header_box {
  height: 60px;
  line-height: 60px;
  padding-left: 20px;
  overflow: hidden;
  zoom: 1;
  position: relative;
}
.exchange .klinAndTring .exchange_mian .exchange_box .Placeanorder_header_box .Placeanorder_list_header {
  font-size: 18px;
  padding-right: 10px;
}
.exchange .klinAndTring .exchange_mian .exchange_box .Placeanorder_header_box .Placeanorder_list_header p {
  color: #828EA1;
  font-size: 25px;
}
.exchange .klinAndTring .exchange_mian .exchange_box .Placeanorder_header_box .Placeanorder_list_conent {
  width: 70%;
  font-size: 14px;
  color: #909399;
}
.exchange .klinAndTring .exchange_mian .exchange_box .Placeanorder_header_box .Placeanorder_list_conent .newPrice {
  margin-right: 5px;
}
.exchange .klinAndTring .exchange_mian .exchange_box .Placeanorder_header_box .Placeanorder_list_conent .newPrice .price {
  font-size: 18px;
  color: #fff;
  line-height: 1;
  margin-top: 13px;
  margin-left: 5px;
}
.exchange .klinAndTring .exchange_mian .exchange_box .Placeanorder_header_box .Placeanorder_list_conent .newPrice .price .two {
  color: #828EA1;
  font-size: 14px;
}
.exchange .klinAndTring .exchange_mian .exchange_box .Placeanorder_header_box .Placeanorder_list_conent .newPrice .cny {
  font-size: 12px;
}
.exchange .klinAndTring .exchange_mian .exchange_box .Placeanorder_header_box .Placeanorder_list_conent p {
  color: #828EA1;
  line-height: 1;
  margin-left: 30px;
  margin-top: 13px;
  text-align: right;
}
.exchange .klinAndTring .exchange_mian .exchange_box .Placeanorder_header_box .Placeanorder_list_conent p span {
  color: #ffffff;
  font-size: 16px;
  display: inline-block;
  margin-top: 8px;
}
.exchange .klinAndTring .exchange_mian .exchange_box .Placeanorder_header_box .Placeanorder_list_conent p span.greenColor {
  color: #00bd82;
}
.exchange .klinAndTring .exchange_mian .exchange_box .Placeanorder_header_box .Placeanorder_list_conent p span.redColor {
  color: #ff5855;
}
.exchange .klinAndTring .exchange_mian .exchange_box .Placeanorder_header_box .Placeanorder_list_conent p.price {
  text-align: left;
}
.exchange .klinAndTring .exchange_mian .exchange_box .Placeanorder_header_box .Placeanorder_list_conent p.price span {
  margin-top: 1px;
}
.exchange .klinAndTring .exchange_mian .exchange_box .Placeanorder_header_box li,
.exchange .klinAndTring .exchange_mian .exchange_box .Placeanorder_header_box p {
  float: left;
}
.exchange .klinAndTring .exchange_mian .kine {
  width: 100%;
  height: 570px;
}
.exchange .klinAndTring .exchange_mian .transaction {
  display: flex;
  float: left;
  width: 100%;
}
.exchange .klinAndTring .exchange_mian .transaction .el-tabs__nav-wrap::after {
  display: none;
}
.exchange .klinAndTring .exchange_mian .transaction .transaction_box {
  background: #182330;
  position: relative;
  flex: 1;
  height: 100%;
}
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .el-tabs__header {
  margin: 0;
}
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .el-tabs__header .el-tabs__active-bar {
  display: none;
}
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .el-tabs__item {
  width: 145px;
  color: #ffffff;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #202D3C;
}
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .el-tabs__item.is-active {
  background: #30D5D8;
  color: #fff;
}
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .el-form-item {
  display: flex;
}
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .el-form-item .el-form-item__label {
  width: 100px;
  color: #fff;
}
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .el-form-item .el-form-item__content {
  width: 100%;
}
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .el-form-item .el-form-item__content .el-input__inner {
  background: #182330 !important;
  color: #ffffff;
  border: 1px solid #2D3346 !important;
  border-radius: 0;
}
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .el-form-item .el-form-item__content .el-input__suffix {
  display: flex;
  align-items: center;
}
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .canuser {
  position: absolute;
  right: 0;
  top: 14px;
  color: #606266;
  font-size: 14px;
}
.exchange .klinAndTring .exchange_mian .transaction .transaction_box button.el-button {
  height: 38px;
  line-height: 20px;
  border-radius: 7px;
}
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .number .jump {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
}
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .number .jump .item {
  flex-basis: calc(90%/4);
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  line-height: 28px;
  height: 28px;
  border: 1px solid #2D3346;
  border-top: 0;
  border-right: 0;
  cursor: pointer;
}
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .number .jump .item.active {
  background: #4c4c4c;
}
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .number .jump .item:last-child {
  border-right: 1px solid #2D3346;
}
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .jiaoyiAll {
  height: 40px;
}
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .jiaoyiAll p {
  font-size: 14px;
  box-sizing: border-box;
  height: 40px;
  line-height: 40px;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .jiaoyiAll p span:nth-of-type(2) {
  padding-left: 5px;
}
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .jiaoyiSell p {
  color: #ffffff;
}
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .el-tabs__content {
  overflow: auto;
  padding: 0 20px;
  margin-top: 20px;
}
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .el-tab-pane {
  overflow: hidden;
  zoom: 1;
}
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .el-tab-pane input {
  height: 40px;
}
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .el-button {
  width: 100%;
}
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .number {
  margin: 0 auto;
}
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .Purchase,
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .Sellout {
  display: inline-block;
  float: left;
  width: 48%;
}
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .Purchase h4,
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .Sellout h4 {
  line-height: 55px;
  font-size: 16px;
}
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .Purchase .el-form-item:nth-of-type(2),
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .Sellout .el-form-item:nth-of-type(2) {
  margin-bottom: 0;
}
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .Purchase .el-form-item,
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .Sellout .el-form-item {
  position: relative;
  margin-bottom: 30px;
}
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .Purchase .el-form-item .el-input-group__append,
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .Sellout .el-form-item .el-input-group__append {
  background: #4c4c4c;
  border-color: #383F53;
  color: #30D5D8;
  border-radius: 0;
  height: 40px;
}
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .Purchase .el-form-item .jump,
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .Sellout .el-form-item .jump {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
}
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .Purchase .el-form-item .jump .item,
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .Sellout .el-form-item .jump .item {
  flex-basis: calc(98%/4);
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .Purchase .el-form-item .jump .item.active,
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .Sellout .el-form-item .jump .item.active {
  background: #4c4c4c;
}
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .Purchase .toCny,
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .Sellout .toCny {
  position: absolute;
  background: #4c4c4c;
  color: #999999;
  font-size: 14px;
  width: 100%;
  height: 26px;
  line-height: 26px;
  padding-left: 20px;
  box-sizing: border-box;
}
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .Purchase .opreation,
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .Sellout .opreation {
  position: absolute;
  right: 8px;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  height: 100%;
}
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .Purchase .opreation > div,
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .Sellout .opreation > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .Purchase .opreation .reduce,
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .Sellout .opreation .reduce {
  cursor: pointer;
  height: 100%;
  width: 20px;
}
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .Purchase .opreation .river,
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .Sellout .opreation .river {
  margin: 0 8px;
  width: 1px;
  height: 20px;
  background: #2d3346;
}
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .Purchase .opreation .add,
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .Sellout .opreation .add {
  cursor: pointer;
}
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .Purchase .stopWarp,
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .Sellout .stopWarp {
  width: 90%;
  position: relative;
  left: 66px;
}
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .Purchase .stoploss,
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .Sellout .stoploss,
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .Purchase .stopwin,
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .Sellout .stopwin {
  width: 50%;
  float: left;
  display: inline-block;
}
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .Purchase .stoploss h2,
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .Sellout .stoploss h2,
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .Purchase .stopwin h2,
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .Sellout .stopwin h2 {
  font-size: 14px;
  padding-left: 14px;
  font-size: 12px;
}
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .Purchase .stoploss .stoploss_box,
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .Sellout .stoploss .stoploss_box,
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .Purchase .stopwin .stoploss_box,
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .Sellout .stopwin .stoploss_box,
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .Purchase .stoploss .stopwin_box,
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .Sellout .stoploss .stopwin_box,
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .Purchase .stopwin .stopwin_box,
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .Sellout .stopwin .stopwin_box {
  width: 80%;
  margin: 0 auto;
}
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .Purchase .MaxLen,
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .Sellout .MaxLen {
  float: right;
  position: relative;
  top: 5px;
  font-size: 12px;
}
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .Purchase button.el-button,
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .Sellout button.el-button {
  background: #ff5855;
  color: #fff;
  border: none;
}
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .buyWarp button.el-button {
  background: #00bd82;
  color: #fff;
  border: none;
}
.exchange .klinAndTring .exchange_mian .transaction .transaction_box .el-form-item__label {
  text-align: left;
}
.exchange .klinAndTring .exchange_mian .HistoricalEntrustment {
  position: relative;
}
.exchange .klinAndTring .exchange_mian .HistoricalEntrustment .bb_order_wrapper {
  overflow-x: auto;
}
.exchange .klinAndTring .exchange_mian .HistoricalEntrustment .tojingtotle {
  position: absolute;
  right: 180px;
  top: 52px;
  color: #606266;
  z-index: 99999;
  font-size: 14px;
}
.exchange .klinAndTring .exchange_mian .HistoricalEntrustment .tojingtotle span {
  padding-right: 20px;
}
.exchange .klinAndTring .exchange_mian .CurrentEntrustment .CurrentEntrustment_header {
  border-bottom: 10px solid #f2f3f8;
  height: 40px;
  line-height: 40px;
  z-index: 100;
  background-color: #FFFFFF;
  padding-left: 10px;
  border-radius: 5px;
}
.exchange .klinAndTring .exchange_mian .big {
  position: absolute;
  transition: all 0.3s;
  opacity: 0.5;
  top: 15px;
  right: 20px;
  width: 22px;
  height: 22px;
  cursor: pointer;
}
.exchange .klinAndTring .exchange_mian .big img {
  width: 100%;
}
.exchange .klinAndTring .exchange_mian .big:hover {
  opacity: 1;
  transform: scale(1.2);
  -ms-transform: scale(1.2);
  /* IE 9 */
  -moz-transform: scale(1.2);
  /* Firefox */
  -webkit-transform: scale(1.2);
  /* Safari 和 Chrome */
  -o-transform: scale(1.2);
}
.exchange .klinAndTring .exchange_mouth {
  flex-shrink: 0;
  color: wheat;
  background: #4c4c4c;
  width: 290px;
  margin-left: 10px;
}
.exchange .klinAndTring .exchange_mouth .tabs_tab {
  height: 40px;
  line-height: 40px;
  padding-left: 12px;
  color: #ffffff;
  font-size: 14px;
}
.exchange .klinAndTring .exchange_mouth .tabs_fen {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  background: #202D3C;
}
.exchange .klinAndTring .exchange_mouth .tabs_fen .transaction_deep {
  display: flex;
  align-items: center;
  color: #BBBBBB;
}
.exchange .klinAndTring .exchange_mouth .tabs_fen .transaction_deep span {
  font-size: 11px;
}
.exchange .klinAndTring .exchange_mouth .tabs_fen .transaction_deep .el-select {
  width: 73px;
  height: 25px;
  margin-left: 6px;
}
.exchange .klinAndTring .exchange_mouth .tabs_fen .transaction_deep .el-select .el-input__suffix {
  display: none;
}
.exchange .klinAndTring .exchange_mouth .tabs_fen .transaction_deep .el-select .el-input--suffix {
  position: relative;
}
.exchange .klinAndTring .exchange_mouth .tabs_fen .transaction_deep .el-select .el-input--suffix.is-focus::after {
  transform: rotate(180deg);
}
.exchange .klinAndTring .exchange_mouth .tabs_fen .transaction_deep .el-select .el-input--suffix::after {
  content: "";
  transition: all 300ms ease;
  display: inline-block;
  width: 8px;
  height: 5px;
  position: absolute;
  right: 10px;
  top: 8px;
  background: url("../../assets/image/bibi/jiantou.png") no-repeat;
  background-size: 100% 100%;
}
.exchange .klinAndTring .exchange_mouth .tabs_fen .transaction_deep .el-select .el-input__inner {
  font-size: 11px;
  height: 25px;
  padding-left: 7px;
  padding-right: 5px;
  color: #bbbbbb;
  background: transparent;
  border-color: #383F53;
}
.exchange .klinAndTring .exchange_mouth .transaction_main {
  width: 100%;
  height: 100%;
  float: right;
  overflow: hidden;
  background: #182330;
}
.exchange .klinAndTring .exchange_mouth .transaction_main .tabs {
  background: #202D3C;
  height: 40px;
}
.exchange .klinAndTring .exchange_mouth .transaction_main .tabs .item {
  display: inline-block;
  cursor: pointer;
  width: 35px;
  height: 100%;
  text-align: center;
  line-height: 40px;
}
.exchange .klinAndTring .exchange_mouth .transaction_main .transaction_header {
  line-height: 40px;
  padding-left: 15px;
  font-size: 16px;
}
.exchange .klinAndTring .exchange_mouth .transaction_main .transaction_nav,
.exchange .klinAndTring .exchange_mouth .transaction_main .PurchaseData_list,
.exchange .klinAndTring .exchange_mouth .transaction_main .SelloutData_list {
  overflow: hidden;
  position: relative;
  zoom: 1;
  line-height: 37px;
}
.exchange .klinAndTring .exchange_mouth .transaction_main .transaction_nav .lineBg,
.exchange .klinAndTring .exchange_mouth .transaction_main .PurchaseData_list .lineBg,
.exchange .klinAndTring .exchange_mouth .transaction_main .SelloutData_list .lineBg {
  position: absolute;
  left: 0;
  top: 5px;
  width: 100%;
  height: 26px;
}
.exchange .klinAndTring .exchange_mouth .transaction_main .transaction_nav .lineBg.red,
.exchange .klinAndTring .exchange_mouth .transaction_main .PurchaseData_list .lineBg.red,
.exchange .klinAndTring .exchange_mouth .transaction_main .SelloutData_list .lineBg.red {
  background: rgba(255, 75, 79, 0.08);
}
.exchange .klinAndTring .exchange_mouth .transaction_main .transaction_nav .lineBg.green,
.exchange .klinAndTring .exchange_mouth .transaction_main .PurchaseData_list .lineBg.green,
.exchange .klinAndTring .exchange_mouth .transaction_main .SelloutData_list .lineBg.green {
  background: rgba(3, 192, 135, 0.08);
}
.exchange .klinAndTring .exchange_mouth .transaction_main .transaction_nav {
  line-height: 35px;
  background: #182330;
}
.exchange .klinAndTring .exchange_mouth .transaction_main .transaction_nav p {
  width: 33%;
  display: inline-block;
  text-align: center;
  float: left;
  color: #909399;
  font-size: 16px;
}
.exchange .klinAndTring .exchange_mouth .transaction_main .Purchase_wrap {
  height: 410px;
  overflow: auto;
  background: #182330;
}
.exchange .klinAndTring .exchange_mouth .transaction_main .Purchase_wrap.red {
  height: 814px;
}
.exchange .klinAndTring .exchange_mouth .transaction_main .Purchase_wrap.green {
  height: 814px;
}
.exchange .klinAndTring .exchange_mouth .transaction_main .PurchaseData,
.exchange .klinAndTring .exchange_mouth .transaction_main .SelloutData {
  color: #999999;
  background: #2B2B2B;
  font-size: 12px;
  line-height: 24px;
  overflow: hidden;
  background: #262637;
}
.exchange .klinAndTring .exchange_mouth .transaction_main .PurchaseData .PurchaseData_list p,
.exchange .klinAndTring .exchange_mouth .transaction_main .SelloutData .PurchaseData_list p,
.exchange .klinAndTring .exchange_mouth .transaction_main .PurchaseData .SelloutData_list p,
.exchange .klinAndTring .exchange_mouth .transaction_main .SelloutData .SelloutData_list p {
  width: 33%;
  display: inline-block;
  text-align: center;
  float: left;
}
.exchange .klinAndTring .exchange_mouth .transaction_main .transaction_mainHeader {
  height: 66px;
  line-height: 66px;
  padding-left: 20px;
  background: #202D3C;
}
.exchange .klinAndTring .exchange_mouth .transaction_main .transaction_mainHeader .newPrice {
  font-size: 18px;
  font-weight: bold;
}
.exchange .klinAndTring .exchange_mouth .transaction_main .transaction_mainHeader .river {
  font-size: 20px;
  font-weight: bold;
  position: relative;
  bottom: 3px;
}
.exchange .klinAndTring .exchange_mouth .transaction_main .transaction_mainHeader .changeCny {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
.exchange .klinAndTring .exchange_mouth .transaction_main .transaction_mainConnent {
  height: 857px;
}
.exchange .klinAndTring .exchange_mouth .transaction_main .transaction_mainConnent .PurchaseData_name {
  font-size: 14px;
}
.exchange .klinAndTring .exchange_mouth .transaction_main .loading {
  padding-top: 100px;
  box-sizing: border-box;
  text-align: center;
}
