@import '../assets/public.less';
.forget_bg {
    background: #0A1017;
    padding:74px 0 50px 0;
}
.forget_pwd_main{
    width: 520px;
    margin: 0 auto;
    .header_forget{
        .welcome_reg {
            color: #fff;
            font-size: 34px;
            text-align: center;
        }
    }
    .form_warp{
        padding-top: 20px;
        .clearfix();
        &2 {
            width: 40%;
        }
        .demo-ruleForm {
            width: 520px;
            padding: 40px;
            box-sizing: border-box;
            background: @common-color;
            border-radius: 10px;
            margin-top: 50px;
            /deep/.el-form-item .el-form-item__label     {
                color: #fff;
            }
            /deep/.el-form-item__content .el-input .el-input__inner {
                background: @common-color2;
                border-color: @common-color2;
                color: #fff;
            }
            .int-code {
                color: #fff;
                font-size: 16px;
                margin: -5px 0 10px 0;
            }
            .again_code {
                text-align: center;
                font-size: 14px;
                color:  @common-color3;
                margin-top: 30px;
            }
        }
        .el-form-item__label{ 
          color:#fff;
        }
        .content_warp{
            .clform();
            float: left;
            width: 100%;
            .el-input__inner {
                background: @YeDackGroundColor3;
                border-color: @YeDorderColor1;
                color: #fff;
            }
            .get-code .el-input__inner{
                background: transparent;
                border-color: @main;
                color: @main;
            }
            .el-form-item.is-error .el-input__inner {
                border-color: #F56C6C;
            }
            .primary_btn{
                padding-top: 30px;
            }
            .primary_btn,.el-button--primary{
                width: 100%;
            }
            .el-button--primary {
                background: @main;
            }
            .VelWarp{
                .verify-btn{display: none;}
                .verify-bar-area{
                    width: 100% !important;
                     background-color: #909399 !important;
                     border: 1px solid #909399;
                     .verify-msg{
                         color: #FFFFFF;
                     }
                }     
                .verify-move-block{
                     background-color: #cbd6df;
                     box-shadow: none;
                }
               .verify-bar-area .verify-move-block:hover{
                    background-color: #fff !important;
                }
                
            }
        }
        .prompt{
            float: left;
            width: 60%;
            .prompt(20px);
            &2 {
                width: 100%;
                text-align: center;
                padding: 0;
                margin-top: 20px;
            }
        }
    }
   .valdation_code{
       .valdation_code_warp{
           .clearfix();
           .el-form-item,.btn_code{               
               float: left;
           }
           .el-form-item{
               width: 65%;
           }
           .btn_code{
               margin-left: 5%;
               margin-top: 40px;
               width: 30%;
           }
       }
   } 
    
}
