@import '../../assets/public.less';
// 提币地址管理
.money_addre_wrapper {
    background: #0A1019;
    .money_addre_container {
        padding:20px 0;
        width: 1200px;
        margin: 0 auto;
        min-height: 600px;
        .el-input,.el-input--suffix{
            width: 95%;
        }
        .selectWarp,.bigWarp{
            float: left;
        }
        .selectWarp{
            width: 20%;
        }
        .bigWarp{
            width: 580px;
            .bigWarpSelect{
                .el-select{
                    width: 100%;
                }
            }
        }
       
        .title {
            background-color: @cardBg;
            color: #fff;
            .el-card__body {
                padding: 20px;
            }
            .el-breadcrumb__inner {
                font-size: @h3FontSize;
            }
            .el-icon-arrow-right {
                font-size: @h3FontSize;
            }
            .is-link {
                font-weight: 100;
            }
        }
        .bit_addre {
            background: @common-color;
            border-radius: 10px;
            /deep/.el-card__body {
                overflow: hidden;
                padding:0;
                h5{
                    font-size:16px;
                    color: #fff;
                    line-height: 60px;
                    padding-left: 20px;
                    border-bottom: 1px solid @YeDorderColor1;
                }
                /deep/.el-form{
                    border-radius:8px;
                    padding:20px 0 30px 0;
                    .el-form-item__label {
                        color: #FFF;
                    }
                    .el-form-item .el-input__inner {
                        color: #fff;
                    }
                }
            }
            .el-button {
                margin-left: 142px;
                width: 425px;
                border: 0;
            }
            .el-form {
                display: flex;
                justify-content: center;
                .el-form-item {
                    // display: inline-block;
                    // display: flex;
                    margin-left: 2%;
                    .bit_type {
                        border: 1px solid #dcdfe6;
                        border-radius: 4px;
                        text-align: center;
                    }
                    .el-form-item__label {
                        color: @DaiFontSizeColor29;
                    }
                    .el-form-item__label:before{
                        content: '';
                    }
                }
            }
        }
        .addre_list {   
            border:none;
            box-shadow:none;
            background: @common-color;
            margin-top:10px;
            .zixun_fen{
                margin:20px 0;
                text-align:center;
            }
            /deep/.el-card__body{
                padding: 0;
                h5{
                    line-height: 55px;
                    padding: 0 5px;
                    border-bottom: 1px solid @YeDorderColor1;
                    span{
                        color: #fff;
                        font-size:16px;
                        border-left: 3px solid @main;
                        padding-left: 10px;
                    }
                }
                .el-table__header {
                    border: 0;
                }
                .el-table__header-wrapper th {
                    background: @common-color;
                    border: 0;
                }
                .el-table__body-wrapper{
                    td{
                        background:@common-color;
                        color:#fff;
                        .el-button{
                            color: #fff;
                            background: @main;
                            border-radius: 25px;
                        }
                    }
                }
            }
            .el-table__body-wrapper {
                min-height: 300px;
                .el-table__empty-block {
                    min-height: 300px;
                }
            }
        }
        .addtitle{
            background-color: transparent;
            position: relative;
            .el-card__body {
                padding: 20px;
            }
            &:before {
                content: "";
                display: block;
                height: 15px;
                border: 1px solid @main;
                position: absolute;
                top: 20px;
                left: 0;
            }
            .addre_private {

            }
        }

    }
}