@import '../../assets/public.less';
.promotion {
    background: @common-color4;
    padding-bottom: 60px;
    .top_img {
        height: 200px;
        background: url("../../assets/img/tg-top-img.png") no-repeat center center;
        background-size: auto 100%;
        &2 {
            background: url("../../assets/img/tg-top-img-en.png") no-repeat center center;
            background-size: auto 100%;
        }
    }
}
#econmicMan {
    .promotion_wrapper {
        width: 1280px;
        margin: 0 auto;
        .pw_box {
            width: 900px;
            margin: 0 auto;
            .pw_top {
                li {
                    float: left;
                    width: 440px;
                    height: 110px;
                    box-sizing: border-box;
                    padding-left: 27px;
                    background: @cardBg;
                    border: 1px solid @YeDorderColor1;
                    cursor: pointer;
                    position: relative;
                    &:last-child {
                        float: right;
                    }
                    .pw_name_num {
                        display: inline-block;
                        color: #fff;
                        margin-top: 29px;
                        margin-left: 45px;
                        .pw_num {
                            font-weight: 600;
                            font-size: 25px;
                            margin-top: 15px;
                        }
                    }
                    img {
                        margin-top: 38px;
                        position: absolute;
                        &:first-child {
                            top: 0px;
                            left: 15px;
                        }
                        &:last-child {
                            top: 0;
                            right: 15px;
                        }
                    }
                    .jiantou {
                        margin-left: 200px;
                    }
                }
            }
            .pw_bottom {
                margin: 25px 0;
                height: 110px;
                li {
                    float: left;
                    width: 440px;
                    box-sizing: border-box;
                    color: #999;
                    &.pw_bot_left {
                        img {
                            width: 115px;
                            height: 112px;
                        }
                        div {
                            display: inline-block;
                            width: 300px;
                            margin-left: 10px;
                            .p_b_l_name {
                                color: #fff;
                                margin-bottom: 10px;
                            }
                        }
                    }
                    &.pw_bot_right {
                        float: right;
                        .invitation {
                            color: #fff;
                            margin-bottom: 22px;
                            margin-top: 20px;
                        }
                        .copy_invitation {
                            color: @main;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        .cont {
            height: 160px;
            box-sizing: border-box;
            background: @common-color;
            border-radius: 20px;
            display: flex;
            margin-top: -50px;
            .left {
                width: 40%;
                display: flex;
                text-align: center;
                padding: 40px 0;
                >div {
                    width: 50%;
                }
                .team {
                    border-right: 1px solid @YeDorderColor1;
                }
                .num {
                    color: #fff;
                    font-size: 34px;
                }
                .name {
                    color: @common-color3;
                    font-size: 16px;
                    margin-top: 25px;
                }
            }
            .right {
                flex: 1;
                background: @common-color2;
                border-radius: 0 20px 20px 0;
                padding: 19px 30px;
                >img {
                    width: 125px;
                    height: 125px;
                }
                .extension {
                    display: inline-block;
                    vertical-align: top;
                    margin-left: 20px;
                    .name {
                        color: @common-color3;
                        font-size: 16px;
                        margin-top: 5px;
                    }
                    .tips {
                        color: #fff;
                        font-size: 14px;
                        margin: 18px 0 32px 0;
                    }
                }
                .invitation {
                    display: inline-block;
                    vertical-align: top;
                    margin-left: 100px;
                    .link_text {
                        color: @common-color3;
                        font-size: 20px;
                        margin-top: 15px;
                        margin-bottom: 35px;
                    }
                    #link {
                        color: #fff;
                        font-size: 14px;
                    }
                    .copy_invitation {
                        color: @main;
                        font-size: 14px;
                    }
                }
            }
        }
        .tab_table {
            text-align: center;
            color: @main;
            margin-top: 65px;
            p {
                display: inline-block;
                width: 148px;
                height: 43px;
                line-height: 45px;
                border: 1px solid @YeDorderColor1;
                cursor: pointer;
            }
            .friend {
                border: 0;
                border-radius: 5px 0 0 5px;
                color: @common-color3;
                background: @common-color; 
            }
            .commission {
                border: 0;
                border-radius: 0 5px 5px 0;
                background: @common-color; 
                margin-left: -5px;
                color: @common-color3;
            }
            .on {
                border: 0;
                background: @common-color2;
                color: @main;
            }
        }
        .table_custom {
            margin-top: 20px;
            /deep/.el-table {
                .el-table__header {
                    border: 0;
                }
                .header_custom {
                    th.is-leaf {
                        background: @common-color;
                        border: 0;
                        .cell {
                            color: @common-color3;
                        }
                    }
                }
                tbody {
                    .cell_custom {
                        color: #fff;
                        background: @YeFontSizeColor4;
                    }
                    tr td {
                        background: @common-color4;
                        border-bottom: 1px solid @YeDorderColor1;
                        color: #fff;
                    }
                }
                .el-table__body-wrapper.is-scrolling-none {
                    background: transparent;
                }
            }
        }
    }
    .title {
        margin-top: 70px !important;
        span{
            font-size: 16px;
            color: @DaiFontSizeColor29;
            position: relative;
            left: 24%;
        }
    }
}
.friendBackImg{
    width: 1280px;
    background: url('../../assets/image/tuiguang-img.png') no-repeat;
    height: 150px;
    background-size:100% 100%;
    margin: 10px auto;
    position: relative;
    .extension {
        position: absolute;
        color: #fff;
        top: 45px;
        left: 50px;
        p {
            &:first-child {
                font-size: 28px;
                font-weight: 600;
            }
            &:last-child {
                font-size: 16px;
                margin-top: 10px;
            }
        }
    }
}
.friendBackImg1{
    background: url('../../assets/image/promotinBanner1.jpg') no-repeat;
    height: 400px;
    background-size:100% 100%;
}