/*
 
//清除浮动
 * */
.noData {
  color: #8E94A3;
  text-align: center;
  padding: 80px 0;
}
.loveMagicRoundAndRound {
  text-align: center;
  box-sizing: border-box;
  padding-top: 60px;
}
.loveMagicRoundAndRound img {
  animation: yoyo 2s linear ;
  animation-iteration-count: infinite;
}
@keyframes yoyo {
  100% {
    transform: rotate(360deg);
  }
}
.clearfix:after {
  visibility: hidden;
  content: '';
  display: block;
  clear: both;
  height: 0;
}
.clearfix {
  *zoom: 1;
}
.overLoading {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.01);
}
/**
 *     
 *  块元素居中函数
 */
.el-message-box {
  animation: hehe 0.3s ease;
}
.el-message-box .el-message-box__header {
  background: #eeeeee;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 17px 30px;
}
.el-message-box .el-message-box__header .el-message-box__title span {
  color: #222222;
  font-weight: bold;
}
.el-message-box .el-message-box__header .el-message-box__title .el-message-box__word {
  color: #222222;
}
.el-message-box .btn-group {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
}
.el-message-box .btn-group .btn-close {
  line-height: 40px;
  text-align: center;
  background: unset;
  color: #6185E5;
  border: 1px solid #6185E5;
  cursor: pointer;
}
.el-message-box .el-message-box__content {
  padding: 10px 30px;
}
.el-message-box .el-message-box__content .label {
  margin-top: 27px;
  margin-bottom: 18px;
}
.el-message-box .el-message-box__content .label.m5 {
  margin-top: 5px;
}
.el-message-box .btn_code {
  color: #30D5D8;
}
.el-message-box .el-message-box__btns button.confirm {
  background: #30D5D8;
  color: #fff;
}
.el-message-box .el-message-box__btns button.close {
  color: #30D5D8;
  border-color: #30D5D8;
  background-color: #fff;
}
@keyframes hehe {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
  }
}
.el-form-item__label {
  line-height: 1;
}
/*1280px宽度*/
.public_wrapper {
  min-width: 1280px;
  margin: 0 auto;
  max-width: 1420px;
  padding: 20px 0;
}
.sliderLimitWarp {
  padding-top: 18px;
  *zoom: 1;
}
.sliderLimitWarp p {
  font-size: 12px;
}
.sliderLimitWarp:before,
.sliderLimitWarp:after {
  display: table;
  content: "";
}
.sliderLimitWarp:after {
  clear: both;
}
.sliderLimitWarp:after {
  visibility: hidden;
  content: '';
  display: block;
  clear: both;
  height: 0;
}
.sliderLimitWarp .zhiying {
  float: left;
  width: 45%;
}
.sliderLimitWarp .zhishun {
  float: right;
  width: 45%;
  padding-right: 10px;
}
.MainArea_list:hover {
  transition: all 0.5s;
  transform: scale(1.1);
}
.mainy .el-table,
.el-table__expanded-cell {
  background: transparent;
}
.mainy .transfer {
  background: transparent;
}
.stopWarp h2 {
  margin-bottom: 10px;
}
.mainy .gg_order_wrapper .headertongji .tongji {
  background: #1a1f30;
}
.mainy .gg_order_wrapper .headertongji .tongji h2 span {
  color: #E8E9ED;
}
.mainb .exchange .exchange_mian .transaction .transaction_main {
  border-left: 10px solid #F2F3F8;
}
.mainy .exchange .exchange_mian .HistoricalEntrustment .tojingtotle span {
  color: #E8E9ED;
}
.mainy .el-message-box__title span {
  color: #F4F5EF;
}
.index_main #home {
  min-width: 1280px;
  margin: 0 auto;
  background: #171717;
}
.gg_order_wrapper {
  min-width: 1280px;
  max-width: 1360px;
  margin: 0 auto;
}
.HistoricalEntrustment .gg_order_wrapper {
  width: auto;
  max-width: none;
}
.bbMessageBox {
  width: 362px;
  background: #fff;
  border-radius: 6px;
  border: none;
}
.bbMessageBox .el-message-box__title {
  background: #eee;
}
.bbMessageBox .el-message-box__title.Night {
  background: #fff;
}
.bbMessageBox .el-message-box__title span {
  color: #ffffff;
}
.bbMessageBox span {
  color: #BBBBBB;
}
.bbMessageBox .el-button {
  color: #ffffff;
  margin-bottom: 15px;
}
.bbMessageBox .el-message-box__btns {
  display: flex;
  justify-content: space-between;
  padding: 5px 30px 0;
}
.bbMessageBox .bbMessageBox-cancel {
  width: 130px;
  height: 40px;
  border: 1px solid #30D5D8;
  border-radius: 4px;
  background: unset;
}
.bbMessageBox .bbMessageBox-cancel span {
  color: #30D5D8;
  font-size: 16px;
}
.bbMessageBox .bbMessageBox-confirm {
  width: 130px;
  height: 40px;
  background: #30D5D8;
  border-radius: 6px;
}
.bbMessageBox .bbMessageBox-confirm span {
  color: #ffffff;
  font-size: 16px;
}
.bbMessageBox.Night {
  background: #3c3c3c;
}
.bbMessageBox.Night .el-button--primary {
  border-color: #30D5D8;
}
.bbMessageBox.Night .el-message-box__header {
  background: #3c3c3c;
}
.bbMessageBox.Night .el-message-box__title {
  background: #3c3c3c;
}
.bbMessageBox.Night .el-message-box__title span {
  color: #ffffff;
}
.el-breadcrumb__item:last-child .el-breadcrumb__inner,
.el-breadcrumb__item:last-child .el-breadcrumb__inner a,
.el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover,
.el-breadcrumb__item:last-child .el-breadcrumb__inner:hover {
  color: #fff;
}
#app .el-form-item .el-input__inner {
  border: 0;
  background: #202D3C;
}
#app .el-form-item.is-error .el-input__inner {
  border: 1px solid #30D5D8;
}
#app .custom-dialog .el-form-item .el-input__inner {
  background: #EFEFF4;
}
.el-form-item__error {
  color: #30D5D8;
}
.el-pagination {
  text-align: right;
}
.el-pagination.is-background .btn-next,
.el-pagination.is-background .btn-prev,
.el-pagination.is-background .el-pager li {
  background: #202D3C;
  border-radius: 4px;
  color: #fff;
  padding: 0 15px;
}
.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #30D5D8;
}
.Assets_gic {
  background: #0A1017;
  padding-top: 20px;
  padding-bottom: 60px;
}
.Assets_gic .Assets_gic_top .Assets_gic_top_cen {
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.Assets_gic .Assets_gic_top .Assets_gic_top_cen .cen_top {
  height: 130px;
  background: #182330;
  border-radius: 10px;
  padding: 0 20px;
  display: flex;
}
.Assets_gic .Assets_gic_top .Assets_gic_top_cen .cen_top img {
  width: 127px;
  height: 130px;
  margin-right: 15px;
}
.Assets_gic .Assets_gic_top .Assets_gic_top_cen .cen_top .cen_top_right .title {
  color: #fff;
  font-size: 18px;
  margin: 30px 0 20px 0;
}
.Assets_gic .Assets_gic_top .Assets_gic_top_cen .cen_top .cen_top_right .p_1 {
  font-size: 20px;
}
.Assets_gic .Assets_gic_top .Assets_gic_top_cen .cen_top .cen_top_right .p_2 {
  font-size: 16px;
  color: #fff;
  margin-left: 10px;
}
.Assets_gic .Assets_gic_top .Assets_gic_top_cen .cen_top .cen_top_right .tip {
  color: #828EA1;
  font-size: 12px;
  margin-top: 10px;
}
.Assets_gic .Assets_gic_top .Assets_gic_top_cen .bi_list .list_top {
  display: flex;
  justify-content: space-betweens;
  height: 46px;
  line-height: 46px;
  padding: 0 15px;
}
.Assets_gic .Assets_gic_top .Assets_gic_top_cen .bi_list .list_top li {
  font-size: 16px;
  width: 28%;
  color: #999999;
  text-align: right;
}
.Assets_gic .Assets_gic_top .Assets_gic_top_cen .bi_list .list_top li:first-child {
  text-align: left;
  width: 15%;
}
.Assets_gic .Assets_gic_top .Assets_gic_top_cen .bi_list .list_list {
  background: #182330;
  border-radius: 10px;
}
.Assets_gic .Assets_gic_top .Assets_gic_top_cen .bi_list .list_list li {
  padding: 0 15px;
  display: flex;
  justify-content: space-betweens;
  height: 70px;
  line-height: 70px;
  font-size: 18px;
  margin-bottom: 10px;
}
.Assets_gic .Assets_gic_top .Assets_gic_top_cen .bi_list .list_list li p {
  width: 28%;
  text-align: right;
}
.Assets_gic .Assets_gic_top .Assets_gic_top_cen .bi_list .list_list li p:first-child {
  text-align: left;
  width: 15%;
}
.Assets_gic .Assets_gic_top .Assets_gic_top_cen .bi_list .list_list li p img {
  width: 37px;
  height: 37px;
  position: relative;
  top: 10px;
  margin-right: 10px;
}
.Assets_gic .Assets_gic_top .Assets_gic_top_cen .bi_list .list_list li .btn {
  width: 28%;
  text-align: right;
}
.Assets_gic .Assets_gic_top .Assets_gic_top_cen .bi_list .list_list li .btn .el-button {
  width: 70px;
  height: 30px;
  padding: 0;
  border: none;
}
.Assets_gic .Assets_gic_top .Assets_gic_top_cen .bi_list .list_list li .btn_1 {
  background: #7883FF;
}
.Assets_gic .Assets_gic_top .Assets_gic_top_cen .bi_list .list_list li .btn_2 {
  background: #FF7979;
}
.Assets_gic .Assets_gic_top .Assets_gic_top_cen .bi_list .list_list li:last-child {
  margin: 0;
}
.Assets_gic .Assets_gic_bot_cen {
  width: 1200px;
  margin: 0 auto;
}
.Assets_gic .Assets_gic_bot_cen .cen_top {
  line-height: 60px;
  display: flex;
  justify-content: space-between;
}
.Assets_gic .Assets_gic_bot_cen .cen_top h5 {
  font-size: 24px;
}
.Assets_gic .Assets_gic_bot_cen .cen_top span {
  color: #fff;
  font-size: 16px;
}
.Assets_gic .Assets_gic_bot_cen .cen_top .more {
  color: #30D5D8;
  cursor: pointer;
}
.Assets_gic .Assets_gic_bot_cen /deep/ .Record_list {
  background: #182330;
  border-radius: 10px;
  padding: 0 20px;
}
.Assets_gic .Assets_gic_bot_cen /deep/ .Record_list .el-table__header-wrapper th {
  font-size: 15px;
  background: #182330;
  color: #828EA1;
}
.Assets_gic .Assets_gic_bot_cen /deep/ .Record_list .el-table__body-wrapper td {
  font-size: 15px;
  color: #fff;
}
.Assets_gic .Assets_gic_bot_cen .fenye {
  text-align: center;
  padding-top: 48px;
}
