.Assets_gic{
    .Assets_gic_top{
        .Assets_gic_top_cen{
            width:1200px;
            margin:0 auto;
            padding-bottom:50px;
            .cen_top{
                line-height:110px;
                display:flex;
                justify-content: space-between;
                h5{
                    font-size:24px;
                }
                .cen_top_right{
                    display:flex;
                    justify-content: space-between;
                    .p_1{font-size:18px;}
                    .p_2{font-size:16px;}
                }
            }
            .bi_list{
                .list_top{
                    display:flex;
                    justify-content: space-betweens;
                    height:46px;
                    line-height:46px;
                    padding:0 15px;
                    li{
                        font-size:16px;
                        width:25%;
                        color:#999999;
                        
                    }
                }
                .list_list{
                    li{
                        padding:0 15px;
                        display:flex;
                        justify-content: space-betweens;
                        height:70px;
                        line-height:70px;
                        font-size:18px;
                        margin-bottom:10px;
                        p{
                            width:25%;
                        }
                        .btn{
                            width:25%;
                            .el-button{
                                width:70px;
                                height:30px;
                                padding:0;
                                border:none;
                            }
                        }   
                    }
                    li:last-child{margin:0;}
                }
            }
        }
    }
    .Assets_gic_bot{
        padding-bottom:60px;
    }
    .Assets_gic_bot_cen{
        width:1200px;
        margin:0 auto;
        .cen_top{
            line-height:90px;
            display:flex;
            justify-content: space-between;
            h5{font-size:24px;}
            span{font-size:16px;cursor: pointer;}
        }
        .Record_list{
            .el-table__header-wrapper{
                th{font-size:15px;}
            }
            .el-table__body-wrapper{
                td{font-size:15px;}
            }
        }
        .fenye{
            text-align:center;
            padding-top:48px;
        }
    }
}