@import '../../assets/public.less';
.mainb{
    .center {
        background: #ebeef5;
        .centercontain{
            background-color: #ffffff;
            .top-title{
                color: #1f1f2e;
            }
            .router-list{
                li{
                    color: #999999;
                }
                .active{
                    color: #1f1f2e;
                }
            }
            .center-right{
                border-left: 2px solid #f0f2f6;
            }
        }
    }
}
.center {
    height: 100%;
    overflow: hidden;
    background: #0A1017;
    .centercontain{
        margin: 40px auto;
        padding: 0 20px;
        width: 1200px;
        border-radius: 10px;
        overflow: hidden;
        .top-title{
            font-size: 36px;
            color: #ffffff;
            // margin-top: 40px;
        }
        .router-list{
            margin-top: 40px;
            li{
                display: inline-block;
                font-size: 20px;
                color: #fff;
                margin-bottom: 40px;
                margin-right: 60px;
                position: relative;
                .right-icon{
                    display: none;
                    position: absolute;
                    font-size: 15px;
                    left: 50%;
                    bottom: -20px;
                    margin-left: -7.5px;
                }
            }
            li.active{
                font-size: 24px;
                color: @main;
                .right-icon{
                    display: initial;
                }
            }
        }
        .center-right{
            vertical-align: top;
            min-height: 450px;
            box-sizing: border-box;
        }
    }
}
